
  .marqueeElement{
    width: 120px;
    height: 80px;
  }
  
  .marquee_container {
    display: flex;
    animation: marquee 30s linear infinite; /* Adjust the animation duration as needed */
  }
  
  @keyframes marquee {
    0% {
      transform: translateX(0);
    }
    100% {
      transform: translateX(-100%);
    }
  }